<!doctype html>
<html lang="{{ HTML_LANG }}">	
<head>
	<meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{{ SITENAME }}{%endblock%}</title>	
	<meta name="author" content="{{ AUTHOR }}">
	
	{% block extra_meta %}
	{% endblock %}

	<link rel="top" href="#" />

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/page.css" type="text/css" />

	{% block scripts %}
	{% endblock %}

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
</head>
	
<body>

{{ FEED_ATOM }}

 <div id="header">
    <a id="logo" href="{{ SITEURL }}">
      <img src="/images/logo.png">
      <span>{{ SITENAME }}</span>
      <span class="light">To educate the world about the life, times, and works of Thomas Paine</span>
    </a>

    <ul id="nav">
        <li>
          <div class="search">
            <form method="get" action="{{ SITEURL }}/cgi-bin/search">
              <input type="text" name="term" size=31 maxlength=255 value="">
              <input type="submit" name="sa" value="Search">
            </form>
          </div>
        </li>
    </ul>
</div>

<div id="main">
  <div class="sidebar">
    <div class="toggle">···</div>
    <div class="list">

      <ul>
        {% for p in PAGES %}
          <li><a class="sidebar-link" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
      </ul>


      <div class="mailinglist">
      <h2>Mailing List</h2> 

      Join our mailing list:
      <form action="{{ SITEURL }}/cgi-bin/ml" method="post">
        <input placeholder="you@address.com" name="em" type="text" size=31 maxlength=255 value="">
        <button alt="Join" name="submit">Join</button>        
      </form>
      </div>


      <div class="donate">
      <h2>Support</h2> 

      Consider supporting the Thomas Paine National Historical
      Association! As a 100% volunteer organization, every dollar we
      receive goes directly to supporting our mission. Please donate
      via PayPal today!

        <form action="https://www.paypal.com/en/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_donations">
          <input type="hidden" name="business" value="info@thomaspaine.org">
          <input type="hidden" name="return" value="{{ SITEURL }}">
          <input type="hidden" name="undefined_quantity" value="0">
          <input type="hidden" name="item_name" value="Donate to The Thomas Paine National Historical Association">
          <input type="hidden" name="charset" value="utf-8">
          <input type="hidden" name="no_shipping" value="1">
          <input type="hidden" name="image_url" value="{{ SITEURL }}/images/donate_logo.png">
          <input type="hidden" name="cpp_headerback_color" value="F6E6CE">
          <input type="hidden" name="cancel_return" value="{{ SITEURL }}">
          <input type="hidden" name="no_note" value="0">
          <button alt="Donate" name="submit">Donate</button>
        </form>
        </div>

      <div class="tpapp">
        <h2>Thomas Paine Encyclopedia App</h2>
        The <a href="https://itunes.apple.com/us/app/thomas-paine-encyclopedia/id660847973?mt=8">Thomas
        Paine Encyclopedia</a> is the most comprehensive educational
        and research resource dedicated to the life, work, and legacy
        of Thomas Paine – one of the founding fathers of the United
        States of America, whose impact on the world can be felt even
        today.        
        <h3>Free for iPads only</h3>
      </div>


      <div class="store">
        <h2>Store</h2>
        Coming Soon
      </div>


    </div>
  </div>

<div class="content guide with-sidebar">   <!--BEGIN CONTENT-->
  {% block content %}{% endblock %}
</div>	<!--END CONTENT-->
		  
<div class="footer">
  © {{ AUTHOR }} 
<div style="float:right">
  <a style="color:white" href="http://blog.getpelican.com/">Powered by pelican</a> <a style="color:white" href="http://mosey.org">Design and coding - Dave Berton</a>
</div>
</div>

<script>
(function () {

    var main = document.getElementById('main'),
        doc = document.documentElement,
        body = document.body,
        header = document.getElementById('header'),
        menu = document.querySelector('.sidebar'),
        menuToggle = document.querySelector('.sidebar .toggle')

    if (menu) {
        menuToggle.addEventListener('click', function () {
            menu.classList.toggle('open')
        })
    }
})()
</script>
</body>
</html>
