{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}

<h1>Announcement</h1>


<h3>The Institute for Thomas Paine Studies</h3>
<p><a href="http://www.iona.edu/About/Iona-in-Community/Institute-for-Thomas-Paine-Studies.aspx">The
Institute for Thomas Paine Studies</a> is a collaboration
between <a href="{{ SITEURL }}">TPNHA</a> and Iona College. It is an
academic center for the advancement of research in Paine Studies,
multidisciplinary courses on Paine and his legacy in philosophy,
politics, literature and history.
</p>

<h1>News</h1>

<h3>The 2nd International Paine Studies Conference</h3>
<p><a href="http://www.iona.edu/About/Iona-in-Community/Institute-for-Thomas-Paine-Studies/Scholarship/2014-Conference.aspx">The
2nd International Paine Studies Conference</a> is co-hosted by The
Institute for Thomas Paine Studies at Iona College.  Iona College
hosts a gathering of scholars for presentations and discussion on the
life, legacy and ideas of a long neglected Founding Father of the
United States, Thomas Paine.
  </p>

<h1>Resources</h1>

<p>The complete works of Thomas Paine are available
here. Browse <a href="/pages/writings.html">works by category</a>, including
all letters and major works, as well as <a href="/pages/timeline.html">by
date</a>.


{% set displayed = 0 %}
{% for article in articles if article.category=='Events' %}

    {% if loop.index == 1 %}

      <article>
        <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
        {{ article.content }}
      </article>

      <hr />

      {% if loop.length  > 1 %}
        <div>
          <h3>Last posts</h3>
          <ol class="archive">
      {% endif %}
    
    {% elif loop.index < 7 %}
      <li>
        {% include 'article_link.inc.html' %}
      </li>
    {% endif %}

      {% set displayed = loop.index %}

{% endfor %}

{% if displayed > 1 %}
          </ol>
        </div>
{% endif %}

{% endblock content %}
