<!--#include virtual="{{ SITEPATH }}/pages/header.shtml" -->

<div class="card fluid">
  <p>
    The <i>Thomas Paine National Historical Association</i> is the oldest
    historic association for a Founder, <a href="{{ SITEPATH }}/pages/history.html">established in 1884</a>. We are the
    authority on the life, works, and legacy of Paine, and have been
    assisting scholars and authors for decades. This site provides the
    most important articles on Paine, the known and some
    soon-to-be-known new works, and the deattributions we have
    made. We were founded to correct the record on Paine, and rescue
    it from the negative propaganda and slander perpetrated against
    him by most historians in the 19th century. For the most part we
    have succeeded. Now we are on the threshold of making public our
    findings on Paine's complete works, after twenty years of
    research, and the establishment of the first official <a href="{{
    SITEPATH }}/pages/the-official-collected-works-of-thomas-paine-project.html">Editorial
    Board for the Collected Works of Thomas Paine</a>, staffed by the
    leading Paine scholars in the world.
  </p>
</div>


<div class="card fluid">
  <h2>Latest</h2>

  <p>
    <span class="subtle">Jan 2021</span>
    <br/>
    <a href="{{ SITEPATH }}/aboutpaine/sherman-copy-di.html">
      <h4>The Sherman Copy of the Declaration of Independence by Jonathan Scheick</h4>
    </a>
  <p>
    A new article concerning Paine's involvement with the creation of the Declaration of Independence, <a href="{{ SITEPATH }}/aboutpaine/sherman-copy-di.html">The Sherman Copy of the Declaration of Independence by Jonathan Scheick</a>.
    </p>
  </p>

  <p>
    <span class="subtle">Dec 2019</span>
    <br/>
    <a href="{{ SITEPATH }}/pages/the-official-collected-works-of-thomas-paine-project.html">
      <h4>The Official Collected Works of Thomas Paine Editorial Board has been formed</h4>
    </a>
    <p>
      ThomasPaine.org is re-organizing to carry on the tradition of
      TPNHA of being the authority on Paine's life, works, and
      legacy. As the Collected Works Project gets going, we will keep
      you updated on de-attributions, and excerpts from new works
      being uncovered.
    </p>
    <p>
      We need help in two areas:
      <ol>
        <li>
          Most missing Paine correspondence remains in private hands. If
          you hold a manuscript letter, or know someone who does, please
          refer them to us.
        </li>
        <li>
          We need help in financing the Project. None of the members of
          the Editorial Board are being paid for their time or
          expertise, they are all volunteers. We have obtained small
          grants, but not nearly enough to see it to completion. Costs
          of travel, proofreading, supplies and materials, clerical
          help, etc. still need financing.
        </li>
      </ol>
    </p>
  </p>

</div>


<div class="card fluid">
  <h2>Writings</h2>
  <!--#include virtual="{{ SITEPATH }}/pages/writings_index.shtml" -->
</div>


<div class="card fluid">
  <h2>Timeline</h2>
  <!--#include virtual="{{ SITEPATH }}/pages/timeline_index.shtml" -->
</div>

<!--#include virtual="{{ SITEPATH }}/pages/footer.shtml" -->
