<!--#include virtual="pages/header.shtml" -->

<h1>Become A Member</h1>

<p>
 The Thomas Paine National Historical Association is offering memberships to those who are interested in the founding father and global revolutionary Thomas Paine - his life, works, and legacy. Membership provides an opportunity for you to help support:
</p>
<ul>
 <li>the vital work of producing the first official, international Collected Works of Paine</li>
 <li>the historical Thomas Paine Memorial Building in New Rochelle, NY</li>
 <li>the creation of the Thomas Paine International Historical Center in New Rochelle, NY: a complex consisting of our Thomas Paine Memorial Building, the Paine Monument, the Paine Cottage, and eventually the restored gravesite</li>
 <li>educational efforts such as the proposed biennial conference at the Thomas Paine International Historical Center in New Rochelle</li>
 <li>strengthening the only reliable, accurate authority on Paine's life, works, and legacy</li>
 <li>efforts to broaden public, political, and educational awareness of Paine's role as the pre-eminent founder of the democratic, secular ethos of humanity</li>
</ul>
<p>
 MEMBERSHIP BENEFITS INCLUDE:
</p>
<ul>
 <li>Invitations to exclusive Zoom and in-person events led by Paine scholars and experts from around the world</li>
 <li>Exclusive updates on the Collected Works of Thomas Paine project by members of its international editorial board</li>
 <li>On-site access to our Paine Library at the Thomas Paine Memorial Building, and personalized research assistance from TPNHA members</li>
 <li>Chances to participate in the revival of a venerable tradition - Paine birthday celebrations and toasts.</li>
 <li>Subscription to our bi-monthly newsletter containing unique information, quotes, news, and links.</li>
</ul>

The Huguenot & New Rochelle Historical Association, owners of The Thomas Paine Cottage Museum, is a separate organization, which we collaborate with, 
but we have different memberships at present. If interested in one, you should support the other as well. Visit their website at www.thomaspainecottage.org for membership.

<form action="{{ SITEURL }}/cgi-bin/mem" method="post">
  <h3>SIGN UP FOR ANNUAL MEMBERSHIP</h3>
  <p>
    Your information is confidential, and you will only be contacted with information on events and news pertaining to the TPNHA.
  </p>
    <div class="row responsive-label">
      <div class="col-sm-12 col-md-3">
        <label for="name">Name</label>
      </div>
      <div class="col-sm-12 col-md">
        <input name="name" type="text" value="" id="name" placeholder="First Last" style="width:85%;">
      </div>
    </div>

    <div class="row responsive-label">
      <div class="col-sm-12 col-md-3">
        <label for="email">Email</label>
      </div>
      <div class="col-sm-12 col-md">
        <input name="email" type="text" value="" id="email" placeholder="you@address.com" style="width:85%;">
      </div>
    </div>

    <div class="row responsive-label">
      <div class="col-sm-12 col-md-3">
        <label for="street">Street</label>
      </div>
      <div class="col-sm-12 col-md">
        <input name="street" type="text" value="" id="street" placeholder="1 Main St" style="width:85%;">
      </div>
    </div>

    <div class="row responsive-label">
      <div class="col-sm-12 col-md-3">
        <label for="city">City</label>
      </div>
      <div class="col-sm-12 col-md">
        <input name="city" type="text" value="" id="city" placeholder="Somewhere" style="width:85%;">
      </div>
    </div>

    <div class="row responsive-label">
      <div class="col-sm-12 col-md-3">
        <label for="state">State/Province</label>
      </div>
      <div class="col-sm-12 col-md">
        <input name="state" type="text" value="" id="state" placeholder="CA" style="width:85%;">
      </div>
    </div>

    <div class="row responsive-label">
      <div class="col-sm-12 col-md-3">
        <label for="postcode">Post Code</label>
      </div>
      <div class="col-sm-12 col-md">
        <input name="postcode" type="text" value="" id="postcode" placeholder="90210" style="width:85%;">
      </div>
    </div>

    <div class="row responsive-label">
      <div class="col-sm-12 col-md-3">
        <label for="country">Country</label>
      </div>
      <div class="col-sm-12 col-md">
        <input name="country" type="text" value="" id="country" placeholder="USA" style="width:85%;">
      </div>
    </div>
    
    <div class="row responsive-label">
      <div class="col-sm-12 col-md-3">
        <label for="level">Level</label>
      </div>
      <div class="col-sm-12 col-md">
        <select name="level" id="level" style="width:85%;">
          <option>Individual:   $25</option>
          <option>Family:		$40</option>
          <option>Business:	$100</option>
          <option>Corporate:	$500 (listed on our literature)</option>
          <option>Gold:		$1500 (listed on literature as well as the donor plaque at the Memorial Building)</option>
        </select>
      </div>
    </div>
    <div class="row responsive-label">
      <div class="col-sm-12 col-md-3">
        <button class="secondary" alt="Start Enrollment" name="submit">Start Enrollment</button>
      </div>
      <div class="col-sm-12 col-md">
        Once enrollment is started,
        <br>
        you can complete your membership with a donation. OUTSIDE the United States, please use the CREDIT CARD option.
      </div>
    </div>
</form>

<!--#include virtual="pages/footer.shtml" -->
