

<!--
<p>
  <span class="subtle">2017-03-28</span>
  <br/>
  <a href="">
    The Truth Seeker Magazine’s Thomas Paine Commemorative Issue Free To Download
  </a>
</p>

<p>
  <span class="subtle">2017-01-26</span>
  <br/>
  <a href="">
    Paine and Trumpism, an article by Harvey Kaye
  </a>
</p>

<p>
  <span class="subtle">2016-11-21</span>
  <br/>
  <a href="">
    The Proceedings of the 2014 Second International Paine
    Studies Conference, held in Paris and co-hosted by TPNHA, is
    now available at the Journal of Early American History.
  </a>
</p>

<p>
  <span class="subtle">2016-09-20</span>
  <br/>
  <a href="">
    New Truth Seeker. More info at http://thetruthseeker.net
  </a>
</p>

<p>
  <span class="subtle">2016-09-20</span>
  <br/>
  <a href="">
    TPNHA Hosts Ian Ruskin’s Film: “The Life Of Thomas Paine”
  </a>
  <br/>
  Film of the live performance Saturday, October 8th, 7pm
  Thomas Paine Memorial Building 983 North Ave, New Rochelle
  Free to the Public Questions: contact gberton@iona.edu
</p>

<p>
  <span class="subtle">2016-05-04</span>
  <br/>
  <a href="">
    An Article on Paine and Moral Philosophy
  </a>
</p>

<p>
  <span class="subtle">2016-04-16</span>
  <br/>
  <a href="">
    The Thomas Paine Society in the UK announces Paine Symposium
  </a>
  The Thomas Paine Society of the UK June 11 at the Royal
  Society of Medicine, 1 Wimpole Street, London W1. Symposium
  Programme 9.30: Welcome and Introduction to the Symposium by
  the Society’s Chairman Bill Speck: “Tom Paine and the
  State“. 10.00: Professor Jonathan Clark, University of Kansas:
  “Interpreting Thomas Paine“. 11.00: Professor Steve Poole,
  University
</p>

<p>
  <span class="subtle">2016-04-16</span>
  <br/>
  <a href="">
    Paine’s Antislavery Legacy by Mariam Touba
  </a>
  Paine’s Antislavery Legacy: Some Additional Considerations
  Slipped into the newspaper in 1827 was an “Anecdote of Thomas
  Paine.” As such stories go, it was far from the worst, but it
  was meant to be denigrating.  A visitor stops in to see the
  elderly Paine while he is denouncing the Bible among his
  cohorts and interrupts
</p>
-->
