{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}

<h1>Latest</h1>

<div class="buildingimage">
  <img src="/theme/images/building.jpg"/>
</div>

<div class="starred">

  <ul>

    <li> 04/16/16 - <a href="/the-thomas-paine-society-in-the-uk-announces-paine-symposium.html">The Thomas Paine Society in the UK announces Paine Symposium</a></li>
    
    <li> 04/16/16 - <a href="/paines-anti-slavery-legacy.html">Paine’s Antislavery Legacy by Mariam Touba</a> </li>
    
    <li> 04/15/16 - <a href="http://www.palgrave.com/us/book/9781137578181">New Directions in Thomas Paine Studies</a></li>
    
    <li> 04/15/16 - <a href="http://www.spiked-online.com/spiked-review/article/paine-and-misery#.VxLFiJMrJE6">"Paine and Misery" by John Keane</a></li>

<li> 03/30/16 - <a href="/paine-on-basic-income-and-human-rights.html">"Paine on Basic Income and Human Rights" by Amy Cools</a></li>
  
<li> 03/30/16 - <a href="/bertrand-russells-message-on-receiving-if-stones-eclc-tom-paine-award-1962.html">Bertrand Russell’s Message on receiving I.F. Stone’s ECLC Tom Paine Award, 1962</a></li>

<li> 02/10/16 - <a href="/press-release-officers-and-board-are-seated-on-paines-birthday.html">Press release: Officers and Board are seated on Paine's Birthday</a></li>

<li> 01/29/16 - <a href="https://www.laprogressive.com/thomas-paine-common-sense/">Modern Prometheus: Thomas Paine and Our New American Revolution</a></li>

<li> 12/01/15 - <a href="/a-london-obituary-of-thomas-paine.html">A London Obituary of Thomas Paine</a></li>

<li> 10/22/15 - <a href="/the-discussion-of-clarks-recent-essays.html">The Discussion of Clark's Recent Essays</a></li>

<li> 9/17/15 - <a href="/clark-does-it-again.html ">Clark does it again</a></li>

<li> 7/29/15 - <a href="https://www.academia.edu/11621399/Reading_Paine_from_the_Left">Reading Paine from the Left</a></li>

<li> 7/28/15 - <a href="http://www.theglobalist.com/thomas-paine-dividend-an-idea-whose-time-has-come/">Thomas Paine’s Dividend: An Idea Whose Time Has Come</a></li>

<li> 5/18/15 - <a href="/great-books-written-in-prison-book-signing-to-celebrate-thomas-paine-day.html">Great Books Written In Prison" book signing to celebrate Thomas Paine Day June 7 2015</a></li>

<li> 5/18/15 - <a href="/thomas-paine-readers-club.html">Thomas Paine Readers Club formation</a></li>

<li> 3/12/15 - <a href="http://www.politifact.com/virginia/statements/2015/mar/09/rick-perry/rick-perry-errs-tying-patriotism-quote-thomas-pain/">Refuting politician's misuse of Paine</a></li>

<li> 3/10/15 - <a href="/newly-attributed-and-de-attributed-works-of-thomas-paine.html">New site features: Newly Attributed and De-Attributed Works of Thomas Paine</a></li>
</li>
<li> 1/28/15 - <a href="http://revolution-francaise.net/">Revolution francaise: A great website on the French Revolution by French scholars</a></li>

<li> 1/12/15 - <a href="/aboutpaine/burying-thomas-paine.html">Burying Thomas Paine, A Critique of Clark's Essay on Thomas Paine</a></li>

<li> 1/1/15 - <a href="/aboutpaine/lewis-lapham-speech.html">Lewis Lapham Speech at the 2012 International Conference for Thomas Paine Studies at Iona Colleg</a></li>

</ul>


</div>

{% endblock content %}
